body
{
	background-image:url('https://store-images.s-microsoft.com/image/apps.54611.13510798887480084.1cc051b4-e33f-41ef-831c-50ba8df627a5.ea19174e-0176-451c-807d-dd95fa01dbb9?mode=scale&q=90&h=200&w=200&background=%230078D7');
	background-repeat: no-repeat;
	background-size: cover
	;
}


	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
